body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.title {
    font-family: 'Great Vibes', cursive; /* Use the imported font */
    font-size: 40px; /* Adjust size as needed */
    text-align: center;
    margin:0%;
    color: #333; /* Change color if desired */
}

.subtitle {
    font-family: 'Great Vibes', cursive; /* Use the imported font */
    font-size: 30px; /* Adjust size as needed */
    text-align: center;
    margin-top: 0%; /* Space between title and subtitle */
    color: #333; /* Change color if desired */
}

#game-container {
    display: flex;
    justify-content: center;
    /* margin: 1 auto; */
    padding: 20px; /* Add padding to the sides */
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%; /* Adjust for spacing between cells */
}

.cell {
    border: 3px solid transparent; /* Default border */
    transition: border 0.3s, box-shadow 0.3s; /* Smooth transition */
}

.cell.winner {
    border: 5px solid rgba(255, 0, 128, 1) !important; /* Force border color */
    box-shadow: 0 0 20px rgba(255, 0, 128, 1) !important; /* Force glowing effect */
}

canvas {
    width: 100%; /* Make canvases responsive */
    height: auto; /* Maintain aspect ratio */
}

.reset-button {
    margin-top: 5%; /* Space between grid and reset button */
    background-color: #a4c8b9;
    color: rgb(0, 0, 0); /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 15px 30px; /* Padding around text */
    font-size: 20px; /* Font size */
    font-family: 'Gowun Batang', cursive; /* Fancy font */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

.reset-button:hover {
    background-color:#a4c8b9;
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.reset-button:active {
    transform: scale(0.95); /* Shrink on click */
}