body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0; /* Remove default margin */
    padding: 20px; /* Padding inside the body */
    background-color: #f0f0f0;
    overflow: auto; /* Allow scrolling if needed */
    position: relative; /* Needed for absolute positioning of elements */
    margin-left: auto; /* Center the body */
    margin-right: auto; /* Center the body */
}


.title {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    margin: 0 0 0; /* Margin below for spacing */
    color: #333;
    flex-grow: 1;
}

.subtitle {
    flex-grow: 1;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    margin: 0 0 0; /* Margin below for spacing */
    color: #333;
}

#game-container {
    margin: 1 auto;
    padding: 20px; /* Top and bottom 2%, left and right 5% */
    box-sizing: border-box; /* Ensure padding is included in total width */
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative; /* Set position relative for absolute children */
}

.cell {
    border: 3px solid transparent;
    transition: border 0.3s, box-shadow 0.3s;
    position: relative; /* Position relative for child elements */
}

.cell.winner {
    border: 5px solid rgba(255, 0, 128, 1) !important;
    box-shadow: 0 0 20px rgba(255, 0, 128, 1) !important;
}

.reset-button {
    margin: 0 0; /* Space above and below */
    background-color: #a4c8b9;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-family: 'Gowun Batang';
    font-size: large;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.reset-button:hover {
    background-color: #a4c8b9;
    transform: scale(1.05);
}

.reset-button:active {
    transform: scale(0.95);
}

#celebration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 5%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    pointer-events: none;
    z-index: 1; /* Ensure the banner is above the canvas */
}

.celebration-text {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    color: #ff00a6;
    text-align: center;
    position: relative; /* Ensure text stays above canvas */
    z-index: 1; /* Ensure it appears on top */
}

#fireworksCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Cover full viewport */
    z-index: 0; /* Behind the text */
    pointer-events: none; /* Allow clicks to go through */
}

.hidden {
    display: none;
}